body {color: #0033cc; } 

.page {width:80%;
		  max-width: 900px;
		  min-width: 400px;
background-color: #cc00cc;
content: center;
} 

.header { width: 100%;
background-color: #cc00cc;} 

.content {width: 100%;
			background: yellow;
}

.sidebar { width: 20% width;
			 border-left:1px;
			 border-left-color: black;
			 background-color: green;
			 padding-left: 1rem;
			 padding-right: 1rem;
			 
}

.footer 
{ width:100%;
text-align: center;
background-color:#cc00cc;} 

.main  { width: 80%;
			background-color: #ff0000;
			padding: 1rem;
} 